extends layout

block content
    h1= title

    form(id='houseForm', action="/resource/houses", method="POST")
        div.form-group
            label.houseAttr(for='house_bed_bath') House bed/bath
            input#house_bed_bath(type='text', name='house_bed_bath')
        div.form-group
            label.houseAttr(for='house_sqft') House sqft
            input#housesqft(type='number', name='house_sqft')
        div.form-group
            label.houseAttr(for='house_cost') House cost
            input#house_cost(type='number', name='house_cost')
        input(type="submit")

    script.
        document.forms['houseForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        alert("form sending")
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.text();
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });